$green : #4cb050

.lg-container
  width:100%
  box-sizing: border-box
  background-color: $green
  padding: 20px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  p
    width:100%
    font-size: 1.6em
    margin-top:20px
    margin-bottom: 0px
    font-weight: bolder
    color: white
    text-shadow: 1px 1px 2px black


