<div class="content-container">
  <div class="main-content">
    <h4 >{{textService.news.newName}}</h4>
    <div id="news" *ngFor="let article of textService.news.articles; let i = index">
      <h3 >{{article.title}}</h3>
      <div class="text-img">
        <div class="text">
          <div class="img">
            <img src="{{article.img}}" alt="img {{4}}">
          </div>
          <div *ngFor="let p1 of article.text">
            <p>{{p1}}</p>
          </div>
          <div *ngFor="let link of article.links">
            <p><a href="{{link.url}}">{{link.linkName}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
