.content-container
  margin-top: 100px
  .main-content
    display: flex
    flex-direction: column
  .text-img
    display: flex
    flex-direction: row
    gap: 40px
    .img, img
      float: left
      margin: 0px 30px 20px 0px
    .img
      width: 33%
    img
      width: 100%
    .text
      float: right


  p
    font-size: 25px
    line-height: 1.2em
    text-indent: 20px
  h4
    font-size: 40px
    margin: 30px 0px
    color: #164229
  h3
    font-size: 36px
    margin: 0px 30px 30px 30px
    text-indent: 20px
  a
    text-decoration: none
    color: #164229
    line-height: 30px
    font-size: 1.3em
    &:hover
      text-decoration: underline

#news
  scroll-margin-top: 100px

@media only screen and (max-width: 1100px)
  .content-container
    .text-img
      .img
        width: 100%
