<div class="content-container">
  <div class="main-content">
    <div id="{{par.id}}" *ngFor="let par of textService.content; let i = index">
      <h4 >{{par.title}}</h4>
      <div class="text-img">
        <div class="text">
          <div class="img">
            <img src="{{par.img}}" alt="img {{i}}">
          </div>
          <div *ngFor="let p1 of par.text">
            <p>{{p1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-news></app-news>
  <app-contacts></app-contacts>
</div>

