
  <div class="slider">
    <div>
      <div (click)="goToPrevious()" class="leftArrow arrow">❰</div>
      <div (click)="goToNext()" class="rightArrow arrow">❱</div>
    </div>
    <div
      class="slide"
      [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
    ></div>
    <div class="dotsContainer">
      <div
        *ngFor="let slide of slides; let slideIndex = index"
        class="dot"
        [ngClass]="{'main-dot': slideIndex == mainDot}"
        (click)="goToSlide(slideIndex)"
      >
        ●
      </div>
    </div>
  </div>

