<div id="{{textService.contacts.id}}" class="content-container">
  <h4>{{textService.contacts.title}}</h4>
  <div class="item-container">
    <div *ngFor="let item of textService.contacts.content; let i = index" class="item">
      <h3>{{item.name }}</h3>
      <div class="list" *ngIf="i==0">
        <a href="tel: {{p}}" *ngFor="let p of item.text">{{p}}</a>
      </div>
      <div class="list" *ngIf="i==3">
        <a href="mailto:{{p}}" *ngFor="let p of item.text">{{p}}</a>
      </div>
      <ul *ngIf="i!==0 && i!==3">
        <li *ngFor="let p of item.text">{{p}}</li>
      </ul>
    </div>
  </div>

  <app-map-block></app-map-block>
</div>
